@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.PhoneInputInput {
  padding: 0.5rem 1rem;
  background-color: rgb(248, 248, 248);
  border-radius: 2rem;
}
.CircularProgressbar-text {
  fill: rgb(228, 83, 83) !important;
  color: rgb(228, 83, 83) !important;
}
.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10; /* Optional: to ensure it appears above other content */
  padding: 1rem 0; /* Optional: for padding adjustment */
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-image {
  animation: float 3s ease-in-out infinite;
}
.swiper-pagination-bullet-active {
  background-color: rgb(228, 83, 83) !important;
}

::selection {
  background: rgb(228, 83, 83);
  color: white;
}
select:focus::-ms-value {
  background-color: rgb(228, 83, 83) !important;
}

.PhoneInputCountrySelect {
  padding: 0.5rem 1rem;
  background-color: rgb(248, 248, 248);
  border-radius: 2rem;
}
.PhoneInputCountrySelect:focus::-ms-value {
  background-color: rgb(228, 83, 83) !important;
}

.PhoneInputCountrySelect option {
  background-color: rgb(248, 248, 248);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
.PhoneInputCountrySelect option:hover {
  background: rgb(228, 83, 83) !important;
  color: white !important;
}
.village {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.village::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/village.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(7px); /* Adjust blur intensity as needed */
  z-index: -1; /* Ensure the blur effect is behind the content */
}


